
body {
    background-image: url("../images/spa.jpg");
    background-repeat:  repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
h1 {
    color: rgb(31, 66, 52);
    text-align: center;
    padding: 0 0 0 0;
    font-size: 2.5em;
    font-weight: 700;
}

h3 {
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 0 0 0 200px;
    font-weight: 700;
    font-size: 1.25em;
}

h4 {
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 0 225px 0 0;
    font-weight: 700;
    font-size: 1.25em;
}

h5 {
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 0 175px 0 0;
    font-weight: 700;
    font-size: 1.25em;
}

h6 {
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 0 0 0 130px;
    font-weight: 700;
    font-size: 1.25em;
}

.main {
    border: 1px solid black;
    background: white;
    width: 75%;
    margin: 0 auto;
}

.second {
    border: 1px solid black;
    background: white;
    width: 75%;
    margin: 0 auto;
}
.col {
    margin-top: 0px;
}
.signin-form {
    width: 80%;
    margin: 5px auto;
}