button.submit {
  float: right;
}

form#cms {
  margin-top: 100px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
  margin: 0 auto; 
}

.author-list {
  margin-top: 25px;
}

.reviews-container {
  margin-top: 100px;
}

.reviews {
  margin-top: 100px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}
.jumbotron {
 
}

body {
  background-image: url("../images/background.JPG");
}
.carousel slide {
  margin-left: 40px;
  margin-right: 40px; 
   
}
.carousel-inner{
  padding-left: 200px; 
  padding-right: 200px; 
}
.navbar {
 background-color: aqua; 
}